// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-1" {
    // off

    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    mode "1920x1080@60.020"

    scale 1

    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // position x=1280 y=0
}

output "PNP(HKM) JAPANNEXT MNT Unknown" {
    mode "3840x2160@60.000"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
}

output "Eizo Nanao Corporation EV2316W 90510103" {
    mode "1920x1080@60.000"
    scale 1
    transform "270"
}
