// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen-beta$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="Firefox — Sharing Indicator"
    match app-id=r#"zen-beta$"# title="Firefox — Sharing Indicator"
    open-floating true
}

window-rule {
    match app-id="pavucontrol$"
    open-floating true
}

// Example: block out two password managers from screen capture.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    match is-active=false

    opacity 0.8
}

window-rule {
    match is-active=true
    opacity 0.99999 // 'toggle-window-rule-opacity'有効化のため1にしていない
    // draw-border-with-background false
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

