// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
// spawn-at-startup "alacritty" "-e" "fish"
spawn-at-startup "waybar"
spawn-at-startup "wl-paste" "-t" "text" "--watch" "cliphist" "store"
spawn-at-startup "swaync"
spawn-at-startup "wl-paste" "-t" "text" "--watch" "clipman" "store"
// xwayland
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swww-daemon"
spawn-at-startup "bash" "-c" "$XDG_CONFIG_HOME/niri/script/niri_swww_randomize_multi.sh"
spawn-at-startup "bash" "-c" "$XDG_CONFIG_HOME/niri/script/niri_swayidle.sh"
